.App {
  min-height: 100vh;
  
}

.cludoBoard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cludoBoardImg {

    width: 100%;
    height: 100%;
    border: none;
 
   
     z-index: 1;
}

.kitchen-target {
 position: absolute; left: 6.41%; top:7.74%; width: 21.41%; height: 29.63%; z-index: 2;
}

.kitchen-target:hover, .ballroom-target:hover, .library-target:hover {
  background-color: lightgrey;
  opacity: 0.5;
}

.ballroom-target {
  position: absolute;
  left: 35.47%;
  top: 13.97%;
  width: 28.44%;
  height: 29.63%;
  z-index: 2
}

.library-target {
position: absolute;
left: 71.88%;
top: 89.86%;
width: 17.5%;
height: 16.61%;
z-index: 2;
}